<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./public/css/main.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="login-bg loaded">
  <div class="container">


    <div id="modal" class="well login-wrapper center-block fade-in">

        <div class="login-logoWrapper">
            <img src="./img/forePlay_logo.png" class="login-logo center-block">
        </div>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form id="login">

          <div id="userInfo">
            <div class="form-group">
                <div class="input-group login-input-wrapper">
                  <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input id="userName" type="text" class="form-control login-input" placeholder="Username" name="email">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group login-input-wrapper">
                  <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  <input id="userPw" type="password" class="form-control login-input" placeholder="Password" name="password">
                </div>
            </div>
          </div>

            <button type="submit" class="btn btn-default btn-lg center-block login-submit">Sign In</button>
        </form>

    </div>


  </div>

  <div id="loader-wrapper">
    
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
  $('#userName').focusin(function(){
    $(this).addClass('login-active-right')
    $(this).prev().addClass('login-active-left')
    $(this).parent().addClass('login-input-wrapper-scaled')
  })

  $('#userName').focusout(function(){
    $(this).removeClass('login-active-right')
    $(this).prev().removeClass('login-active-left')
    $(this).parent().removeClass('login-input-wrapper-scaled')
  })

  $('#userPw').focusin(function(){
    $(this).addClass('login-active-right')
    $(this).prev().addClass('login-active-left')
    $(this).parent().addClass('login-input-wrapper-scaled')
  })

  $('#userPw').focusout(function(){
    $(this).removeClass('login-active-right')
    $(this).prev().removeClass('login-active-left')
    $(this).parent().removeClass('login-input-wrapper-scaled')
  })

    $("#login").submit(function(e){
        e.preventDefault();

        var formData = {
        'email'              : $('input[name=email]').val(),
        'password'             : $('input[name=password]').val()
        };

        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            dataType: 'json',
            url         : '/login', // the url where we want to POST
            data        : formData,
            success: function (response) {
                $('#modal').removeClass('fade-in').addClass('fade-out');
                setTimeout(function(){
                  $('body').removeClass('loaded').addClass('transitioning');
                }, 500);
                setTimeout(function(){
                  window.location.href = '/cal'
                }, 2000);

            }
        })


    });

  </script>
</script>
</body>
</html>