<!doctype html>
<html>
<head>
    <title>ForePlay</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./public/css/main.css"> <!-- load bootstrap css -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="login-bg">
<div class="container">

<div class="well login-wrapper center-block fade-in">

    <div class="login-logoWrapper">
        <img src="./img/forePlay_logo.png" class="login-logo center-block">
    </div>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">

        <div class="form-group">
            <div class="input-group login-input-wrapper">
              <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control login-input" placeholder="Username" name="email">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group login-input-wrapper">
              <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control login-input" placeholder="Password" name="password">
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-lg center-block login-submit">Sign Up</button>
    </form>

</div>

</div>
</body>
</html>