.toast {
  background-color: #C79033 !important;
}
.toast-success {
  background-color: #C79033 !important;
}
.toast-error {
  background-color: #bd362f !important;
}
.toast-info {
  background-color: #C79033 !important;
}
.toast-warning {
  background-color: #f89406 !important;
}